__pycache__/
pretrained/
exp/
configs/generated/
*log.txt
data
envs/
predictions/
*.out
download_file/
notice/
transformers/
ablation_experiment/
train_sh/
out/
Visualization_results/
*.gz
tool/
clip_attention*/
dino_attention*/
